[submodule "ndhist"]
	path = ndhist
	url = https://github.com/dguest/ndhist.git
[submodule "ndhist-python"]
	path = ndhist-python
	url = https://github.com/dguest/ndhist-python.git
[submodule "lwtnn"]
	path = lwtnn
	url = git@github.com:lwtnn/lwtnn.git
